<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559881144753-jdeaut5ei0tranohrrdu0p6jfou1ll9o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559881144753-jdeaut5ei0tranohrrdu0p6jfou1ll9o</string>
	<key>API_KEY</key>
	<string>AIzaSyA6tT_5rAg7bdn4l_lMxn3gyd8JZkZoipE</string>
	<key>GCM_SENDER_ID</key>
	<string>559881144753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hello</string>
	<key>PROJECT_ID</key>
	<string>helloo-92b9a</string>
	<key>STORAGE_BUCKET</key>
	<string>helloo-92b9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559881144753:ios:0b36723d7a446eb3c59590</string>
</dict>
</plist>